@charset "utf-8";
/* HEADER MENU */
.b_header__menu {
	list-style:none;
	display:block;
	float:right;
}
.b_header__logo {
	margin-top:-10px;	
}
.b_header__menu__item {
	display:block;
	float:left;
	padding:0 20px;
	height:34px;
	line-height:34px;
	position:relative;	
}

.b_header__menu__item a {
	text-decoration:none;
	color:#3f80ca;
	font-size:14px;
	padding:9px 0 8px;	
}
.b_header__menu__item:first-child:before {
	content:url(../image/menu_line_b.png);
	position:absolute;
	left:-10px;	
}
.b_header__menu__item:before {
	content:url(../image/menu_line.png);
	position:absolute;
	left:-10px;
}
.b_header__menu__item:hover, .b_header__menu .active {
	background:url(../image/header_menu_a_after.png) top right no-repeat, url(../image/header_menu_a_before.png) top left no-repeat;	
}
.b_header__menu__item:hover a {
	color:#FFF;
	background: url(../image/header_menu_a.png) repeat-x;
}
.b_header__menu .active a{
	color:#FFF;
	background: url(../image/header_menu_a.png) repeat-x;
}

/* CONTENT INDEX PAGE*/
.b_content__headertext {
	color:#4c88ce;
	text-align:center;
	font-size:20px;
}
.b_header_contentbox {
	margin:50px 0;
	height:280px;
	width:100%;
	outline:2px solid #CCC;
}	
.b_content__form {
	width:540px;
	overflow:hidden;
	margin:30px 0 0 50px;
	float:left;	
}
.b_content__form__inputbox {
	width:260px;
	float:left;
	margin:5px 0;
	height:45px;
}
.b_content__form__inputbox label {
	display:block;
	font-size:14px;
}
.b_content_submitbutton {
	display:block;
	margin:0 auto;
	width:188px;
	height:38px;
	background:url(../image/bg-button.jpg) repeat-x;
	border:1px solid #ffff9a;
	box-shadow:0 0 1px #e2b500;
	font-size:17px;
	color:#7e7235;
	text-shadow:0 1px 1px #FFF;	
}
/* DICLINE FORM*/
.b_content_diclineNotice {
	font-size:17px;
	color:#404040;
	display:block;
	margin:0 44px;
	padding:10px;
	border-radius:4px;
	border:2px solid #ffece5;	
}
.b_content_notice {
	font-size:15px;
	color:#4c88ce;
	display:block;
	margin:44px;	
}
.b_content_denialform {
	margin:20px 0;	
}
.b_content_denialform_box {
	margin-left:44px;
	font-size:14px;	
}
.b_content_denialform_box_texarea {
	margin:20px 0 0 44px;	
}
.b_form_label{
	display:block;
}
.b_form_label__texarea {
	width:450px;
	height:150px;
	border-radius:4px;
	border:1px solid #d9d9d9;
	padding:5px;
}
.b_content_bottom_submitbutton {
	display:block;
	margin:0 auto;
	width:188px;
	height:38px;
	background:url(../image/bg-button_denialform.jpg) repeat-x;
	border:1px solid #FFF;
	box-shadow:0 0 1px #d3d4d4;
	font-size:17px;
	color:#747474;
	text-shadow:0 1px 1px #FFF;	
}
/* SALON PAGE */
.b_content_service_headertitle {
	display:block;
	margin-left:44px;
	color:#3f80ca;
	font-size:20px;
}
.b_content_service_logo_description {
	margin:40px 0 40px 44px;
	color:#9da1a6;
	font-size:14px;
	line-height:20px;
}
.b_content_service_logo {
	margin:20px 0 20px 44px;
}
.b_content_service_description {
	margin:40px 0 40px 44px;
	color:#9da1a6;
	font-size:14px;
	line-height:20px;
	width:90%;	
}
.b_content_service_description_p {
	display:block;
	margin:20px 0;
	font-size:16px;
	color:#3f80ca;		
}
.b_content_service_map {
	margin-left:44px;	
}
.b_content_service_address {
	display:block;
	margin:20px 0;
	font-size:16px;
	color:#3f80ca;	
}
/* Принятие заявки  */
.b_content_acceptRequest_h2 {
	display:block;
	margin:20px 0 20px 44px;
	color:#3f80ca;
	font-size:20px;
}
.b_content_acceptRequestContentBox__item {
	font-size:14px;
	width:360px;
	height:50px;
	float:left;
	margin:10px 20px;
	border-bottom:1px dashed #ccc;
}
.b_content_acceptRequestContentBox__item span {
	display:block;
	margin:8px 0 0 10px;
	font-style:italic;
	color:#9da1a6;	
}
.b_content_acceptRequestContentBox_imagesCar {
	width:90%;
	display:block;
	overflow:hidden;
	margin:50px auto;	
}
.b_content_acceptRequestContentBox_imageCar {
	float:left;
	border-radius:4px;
	width:149px;
	height:149px;
	border:3px solid #bfbfbf;
	margin:0 13px;
}
.b_content_acceptRequestContentBox_bottom {
	margin:10px 44px;	
}
.b_content_acceptRequestContentBox_bottom_label {
	display:inline-block;
	width:275px;
	margin:15px 0;	
}
.labelWrap {
	margin-left:50px;	
}
.b_content_acceptRequestContentBox_bottom_label_item {
}
.b_content_acceptRequestContentBox_bottom_form .labelWrap__item {
	float:left;
	margin:0 20px;
}
.b_content_acceptRequestContentBox_bottom .e-form-row .e-form-label {
	margin-top:40px;
	display:block;	
}
.b_content_acceptRequestContentBox_bottom .e-form-row textarea {
	width:470px;
	height:150px;
	border-radius:4px;
	border:1px solid #d9d9d9;
	padding:5px;
	margin-bottom:20px;
}
.b_content_acceptRequestContentBox_bottom_acceptButton {
	margin-left:200px;	
}
.b_content_acceptRequestContentBox_bottom_acceptButton input[type="submit"]{
	float:left;
	width:188px;
	height:38px;
	background:url(../image/bg-button.jpg) repeat-x;
	border:1px solid #FFF;
	box-shadow:0 0 1px #d3d4d4;
	font-size:17px;
	color:#747474;
	text-shadow:0 1px 1px #FFF;	
}
.b_content_acceptRequestContentBox_bottom_declineButton a{
	display:block;
	margin-left:438px;
	width:188px;
	height:38px;
	line-height:38px;
	text-align:center;
	text-decoration:none;
	background:url(../image/bg-button_denialform.jpg) repeat-x;
	border:1px solid #FFF;
	box-shadow:0 0 1px #d3d4d4;
	font-size:17px;
	color:#747474;
	text-shadow:0 1px 1px #FFF;	
}

/* LIST SERVICES*/
.b_content_listservices {
	display:block;
}
.b_content_listservices_header {
	color:#3f80ca;
	size:16px;
	display: inline-block;
	margin-left:44px;
}
.b_content_listservices_item {
	margin:20px 0;
	display:block;
	border-bottom:1px dashed #d9d9d9;
}
.b_content_listservices_item a {
	margin:20px 44px;
	display:block;	
	color:#3f80ca;
}
/* SIDEBAR */
.l_sidebar {
	position:relative;
	z-index:1;
}
.l_sidebar .row {
	height:73px;
	margin:15px 0 15px 20px;	
}
.l_sidebar .upload-box {
	display: none;
}
.repeat {
	position:relative;
	top:-81px;	
}
.removePreview {
	position:relative;
	top:-65px;
	right:15px;
	z-index:3;	
}
.l_sidebar img[src^="blob"] {
	position:relative;
	z-index:2;
	border-radius:11px;
	border:3px solid #57aae5;
	height:73px;
	width:73px;
}
.l_sidebar {
	margin:30px 0 0 600px;
}
.l_sidebar p {
	font-size:14px;	
}
.l_sidebar .box {
	display:block;
	height:73px;
	width:73px;
	border:2px dashed #ccc;
	margin:20px 0 20px 30px;
	color:#86cf4a;
	border-radius:4px;
}
.l_sidebar fieldset {
	border:none;	
}

/* SALON PAGE */
.b_contnt_account_header_span {
	display:block;
	margin:0 0 20px 44px;
	font-size:20px;
	color:#3f80ca;	
}
.b_content_account_table {
	text-align:center;
	color:#9da1a6;
	font-size:14px;
	width:100%;
}
.b_content_account_table a {
	font-style:italic;
	color:#3f80ca;
	border-bottom:1px dashed#3f80ca;
	text-decoration:none;	
}
.b_content_account_table img{
	display:block;
	width:70px;
	margin:10px auto;
}
.b_content_account_table thead {
	background:#3f80ca;
	color:#FFF;
	font-size:14px;	
}
.b_content_account_table_td{
	border-bottom:1px dashed #d9d9d9;
	border-right:1px solid #d9d9d9;
}
.b_content_account_table_td_titlecompany {
	display:block;
	margin-bottom:10px;	
}
.b_content_account_table_td_lastchild {
	border-right:none;	
	border-bottom:1px dashed #d9d9d9;
}
.b_content_account_table_address {
	position:relative;	
}
.b_content_account_table_address:before {
	content:url(../image/map_dota.png);
	padding-right:5px;
}
.b_content_account_table .viewmap {
	display: inline-block;
	margin:5px 0;
	padding:0 -10px;
	font-style:italic;
	color:#3f80ca;
	border-bottom:1px dashed #3f80ca;
	text-decoration:none;
}
.b_content_account_table_td_position .map-block {
	position:absolute;
	left:-50px;
	top:54px;
	z-index:1;
	border-radius:4px;
	border:5px solid #3f80ca;	
}
.b_content_account_table_td_position .map-block .triangle {
	position:absolute;
	top:-15px;
	right:190px;
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #3f80ca;	
}
.viewmap {
	cursor:pointer;	
}
.closeMap {
	width:26px;
	height:26px;
	background:url(../image/close-button.png) no-repeat;
	position:absolute;
	right:-17px;
	top:-19px;
	z-index:2;	
}
.closeComment {
	width:26px;
	height:26px;
	background:url(../image/close-button.png) no-repeat;
	position:absolute;
	right:-17px;
	top:-19px;
	z-index:2;	
}
.b_content_account_table_td_comment_read {
	display: inline-block;
	margin:5px 0;
	padding:0 -10px;
	font-style:italic;
	color:#3f80ca;
	border-bottom:1px dashed #3f80ca;
	text-decoration:none;
	cursor:pointer;
}
.b_content_account_table_td_comment {
	border-bottom:1px dashed #d9d9d9;
	border-right:1px solid #d9d9d9;	
}
.relative{
	position:relative;	
}
.b_content_account_table_td_comment_read_comment_block {
	position:absolute;
	background:#FFF;
	width:665px;
	left:-450px;
	top:37px;
	z-index:1;
	border-radius:4px;
	border:5px solid #3f80ca;
	
}
.b_content_account_table_td_incomment {
	border-right:1px solid #3f80ca;
	padding:10px;
	font-size:14px;
	padding:20px;
	display:block;
	height:99%;
}
.b_content_account_table_td_incomment_item_header {
	color:#000;
}
.b_content_account_table_td_incomment_item {
	display:block;
	margin:10px 0;
	text-align:left;	
}
.b_content_account_table_td_incomment_comment_right {
	padding:20px 10px;
	margin-left:250px;
	display:block;
}
.b_content_account_table_td_incomment_comment_right_header {
	text-align:left;
	color:#000;	
}
.b_account_bottom {
	margin:30px 0 30px 44px;	
}
.b_account_bottom_span {
	font-size:16px;
	color:#3f80ca;	
}
.b_account_bottom_table {
	width:80%;
	margin-top:20px;	
}
.b_account_bottom_table thead {
	background:#3f80ca;
	color:#FFF;
	font-size:14px;	
}
.b_account_bottom_table tbody td {
	border-bottom:1px dashed #d9d9d9;
	border-right:1px solid #d9d9d9;
	font-size:14px;
	color:#9da1a6;
	padding:20px;
}
.b_account_bottom_table_td_left {
	border-left:1px solid #d9d9d9;
	width:100px;
}
/* FOOTER */
.b_footer_randomList {
	display:block;
	list-style:none;
	margin:0 0 0 10px;	
}
.b_footer_randomList__item {
	display:inline;
	float:left;
	margin:18px 5px 0;
}
.b_content_account_table_td_comment_read_comment_block .triangle {
	position:absolute;
	top:-15px;
	right:155px;
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #3f80ca;	
}
/* LOGIN PAGE */
.l_content_login_header {
	display:block;
	margin-left:44px;
	font-size:20px;
	color:#3f80ca;
}
.b_content_login_form {
	margin:20px 0 20px 44px;	
}
.b_content_login_form .row {
	margin:20px 0;	
}
.b_content_login_form .row label {
	display:inline-block;
	width:200px;	
}
.b_content_login_button input {
	display:block;
	margin-left:224px;
	width:188px;
	height:38px;
	background:url(../image/bg-button.jpg) repeat-x;
	border:1px solid #ffff9a;
	box-shadow:0 0 1px #e2b500;
	font-size:17px;
	color:#7e7235;
	text-shadow:0 1px 1px #FFF;	
}

/* LICENSE */
.b_license__p {
	float:left;
	display:inline;
	margin:38px 10px 0 0;	
}
.l_license img {
	margin-top:30px;	
}